.background{
    background-color:grey;
}

#myParagraph{
    text-align: center;
}
div{
    text-align: left;
}
p{
    text-align: center;
    font-size: 30px;
    font-weight: bold
}
a{
    color: green;
}
/* when the link is unvisited*/
a:link{
color: aqua
}
/* when the link is visited*/
a:visited{
color: crimson
}
/* when  mouse is hover*/
a:hover{
color: darkgoldenrod
}
/* when the link is unvisited*/
a:active{
color: brown
}