div{
    width:200px;
    height:200px;
    background-color: darkkhaki;

}
div.translate:hover{
    
}
div.rotate:hover{
    transform: rotate(120deg);
    background-color: coral;
}
div.scale:hover{
    transform: scale(2,3);
    background-color: coral;
}